<% if(typeof _flashSuccess != "undefined" && _flashSuccess.length) { %>
<div class="alert alert-success" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <%= _flashSuccess %>
</div>
<% } %>

<% if(typeof _flashWarning != "undefined" && _flashWarning.length) { %>
<div class="alert alert-warning" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <%= _flashWarning %>
</div>
<% } %>

<% if(typeof _flashDanger != "undefined" && _flashDanger.length) { %>
<div class="alert alert-danger" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <strong>Opss!</strong> <%= _flashDanger %>
</div>
<% } %>